.lb-page {
  display: flex;
  gap: 2rem;
  margin: 0 2rem;
}

.lb-info {
  flex: .7;
}

.lb-countdown {
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  background-color: var(--pink);
  color: var(--pink-dark);
  border-radius: 1rem;
}

.lb-timer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 0 20%;

  div {
    text-align: center;
  }

  :nth-child(-n+5) {
    font-size: 2.5rem;
    font-weight: 800;
  }

  :nth-child(n+6) {
    font-size: 1.2rem;
  }
}

.timer-num {
  font-size: 3rem;
}

.lb-updated {
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  background-color: var(--yellow);
  color: var(--orange-dark);
  border-radius: 1rem;

  div {
    margin-top: .5rem;
    margin-left: 1rem;
  }
}

.lb-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: center;
}

.lb-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;

  border: 2.5px solid var(--gray-medium);
  border-radius: 12rem;
  padding: 1rem 1.5rem 1rem 1rem;
  font-size: 1.7rem;
  transition: .2s;

  &:hover {
    background-color: #f6f6f6;
  }
}

.lb-rank {
  padding: .5rem;
  height: 2.5rem;
  width: 2.5rem;

  border-radius: 50%;
  background-color: var(--purple);
  color: var(--purple-dark);
  font-weight: 800;
  font-size: 1.8rem;
  text-align: center;
}